<?php

return [

    'api' => [
        'type' => 'prefix',
        'path' => '/api(/)',

        'resolver' => [
            [
                'type' => 'pattern',
                'path' => '<controller>/<user>',

                'defaults' => [
                    'controller' => 'upload',
                    'action'     => 'default',
                ]
            ]
        ],

        'defaults' => [
            'runner'   => 'api',
            'notFound' => 'default'
        ]
    ],

    'ux'    => [
        'type' => 'prefix',
        'path' => '/',

        'resolver' => [
            [
                'type' => 'pattern',
                'path' => '(<controller>/<user>)',

                'defaults' => [
                    'controller' => 'upload',
                    'action'     => 'default',
                    'user'       => 'default',
                ]
            ]
        ],

        'defaults' => [
            'runner'   => 'ux',
            'notFound' => 'default'
        ]
    ],

    // default
    'error' => [
        'type' => 'pattern',
        'path' => '/<any:.*>',

        'defaults' => [
            'notFound' => 'default'
        ]
    ]

];